<%= simple_form_for @roastery, html: { class: "form-container" } do |f| %>
  <div class="grid grid-cols-2 gap-6">
    <div>
      <%= f.input :name, required: true, label: "Roastery Name", input_html: { class: "form-input" } %>
    </div>
    <div>
      <%= f.input :description, as: :text, label: "Roastery Description", input_html: { class: "form-textarea" } %>
    </div>
    <div>
      <%= f.input :roastery_url, as: :url, label: "Roastery Website", input_html: { class: "form-input" } %>
    </div>
    <div class="upload-container" data-controller="file-upload">
      <label class="block text-sm font-medium text-dark-green mb-1">Upload Roastery Image</label>

    <div class="upload-inline" data-controller="file-upload">
      <label class="upload-label">
        <i class="fas fa-upload upload-icon"></i>
        <span>Upload Photo</span>
        <input type="file" name="bean[main_photo]" data-file-upload-target="input" accept="image/*" hidden>
        </label>
        <span class="file-name" data-file-upload-target="fileName">No file chosen</span>
    </div>

    <div class="preview-container" data-file-upload-target="preview"></div>


<h2 class="text-xl font-bold mt-6 form-h2">Locations</h2>

<div id="locations-container" data-controller="location" data-location-target="locationsContainer">
  <%= f.fields_for :locations do |location_fields| %>
    <div class="location-fields grid grid-cols-2 gap-4 mt-4 border p-4 rounded bg-light-gray shadow-sm">
      <div>
        <%= location_fields.input :location_type, collection: ["Cafe", "Roastery and Cafe", "Warehouse"],
          label: "Location Type", prompt: "Select a Type", required: true,
          input_html: { class: "form-input location-type" } %>
      </div>

      <div>
        <%= location_fields.input :address, label: "Address", required: true,
          input_html: { class: "form-input location-address" } %>
      </div>

      <%= location_fields.hidden_field :_destroy, class: "location-destroy" %>

      <div class="col-span-2 flex justify-end mt-2">
        <button type="button" class="form-btn " data-action="click->location#removeLocation">
          Remove Location
        </button>
      </div>
    </div>
  <% end %>

  <div class="mt-4 text-center">
    <button type="button" class="form-btn " data-action="click->location#addLocation">
      Add Another Location
    </button>
  </div>
</div>

  <div class="mt-6 text-center">
    <%= f.submit "Save Roastery", class: "btn btn-primary" %>
  </div>
<% end %>
