<div class="banner roasteries-banner">
    <h1 class="banner-title">Find and explore roasteries</h1>
    <p class="banner-text">Filter by location, understand others' experiences, and discover your next favorite roast.</p>
</div>

<%= form_with(url: roasteries_path, method: "get", local: true) do %>
  <div>
    <%= label_tag :location, "Search by Location" %>
    <%= text_field_tag :location, params[:location], placeholder: "Enter a location" %>
    <%= submit_tag "Search" %>
  </div>
<% end %>

<h1>All Roasteries</h1>

<div>
  <%= link_to "Add New Roastery", new_roastery_path %>
</div>

<div>
  <% @roasteries.each do |roastery| %>
    <div>
      <h2><%= link_to roastery.name, roastery_path(roastery) %></h2>
      <p><%= truncate(roastery.description, length: 100) %></p>
      <div>
        <strong>Locations:</strong>
        <% roastery.locations.each do |location| %>
          <p><%= location.address %> (<%#= location.location_type %>)</p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>

<!-- Mapbox -->
<div
  id="map"
  data-controller="map"
  data-map-api-key-value="<%= ENV['MAPBOX_ACCESS_TOKEN'] %>"
  data-map-markers-value="<%= @markers.to_json %>"
  style="height: 500px;">
</div>
