<div class="banner roasteries-banner">
    <h1 class="banner-title">Discover and share the best coffee spots</h1>
</div>


<div class="search-container d-flex justify-content-center mt-3">
  <%= form_with(url: roasteries_path, method: "get", local: true, class: "search-form d-flex") do %>
    <div class="input-search d-flex justify-content-center">
      <%= text_field_tag :location, params[:location], placeholder: "Enter a location", class: "search-input" %>
    </div>
    <div class="btn-search d-flex justify-content-center">
        <%= submit_tag "Search", class: "btn btn-primary search-btn" %>
    </div>
  <% end %>
</div>

<div class="search-divider"></div>

<div class="container-fluid">
  <div class="row">
    <% @roasteries.each do |roastery| %>
      <div class="col-12 col-md-6 col-lg-4 p-3 d-flex justify-content-center">
        <div class="card h-100 shadow-sm position-relative">
          <div class="position-relative d-flex justify-content-center">
            <% if roastery.image.present? %>
              <img src="<%= roastery.image %>" class="card-img-top" alt="<%= roastery.name %>">
            <% else %>
              <img src="default-image.jpg" class="card-img-top" alt="Default Image">
            <% end %>

            <% if user_signed_in? %>
              <div data-controller="favourite" data-roastery-id="<%= roastery.id %>" class="position-absolute top-0 end-0 m-2">
                <%= link_to roastery_favourite_roastery_path(roastery),
                  method: (current_user.favourite_roasteries.exists?(roastery: roastery) ? :delete : :post),
                  remote: true,
                  class: "btn btn-light favorite-btn",
                  data: { action: "click->favourite#toggle", turbo_method: (current_user.favourite_roasteries.exists?(roastery: roastery) ? "delete" : "post"), turbo_action: "replace" } do %>
                  <i class="fa-solid fa-heart <%= 'text-danger' if current_user.favourite_roasteries.exists?(roastery: roastery) %>"></i>
                  <span id="favourites-count-<%= roastery.id %>" class="ms-2"><%= roastery.favourite_roasteries.count %></span>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="card-body">
            <h2 class="card-title"><%= link_to roastery.name, roastery_path(roastery), class: "text-dark text-decoration-none" %></h2>
            <p class="card-text"><%= truncate(roastery.description, length: 100) %></p>
            <div class="text-center">
              <strong>Locations:</strong>
              <% roastery.locations.each do |location| %>
                <p><%= location.address %></p>
              <% end %>
            </div>

            <p class="text-center"><i class="fa-solid fa-comment"></i> <%= roastery.roastery_comments.count %> Comments</p>

            <div class="text-center">
              <%= link_to "View More", roastery_path(roastery), class: "btn btn-primary" %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>


