<h1><%=@roastery.name%></h1>
<img src="<%=@roastery.image%>">

<ul>
  <li>Description: <%=@roastery.description%></li>
  <li>Roastery URL: <%=@roastery.roastery_url%></li>
</ul>

<h3>Locations:</h3>
<ul>
  <% @roastery.locations.each do |location| %>
    <ul>
      <strong>Type:</strong> <%= location.location_type %><br>
      <strong>Address:</strong> <%= location.address %>
    </ul>
  <% end %>
  <%= link_to "Edit Roastery", edit_roastery_path(@roastery), class: "btn mt-4" %>
</ul>

<h3>All comments</h3>

<div id="roastery_<%= @roastery.id %>_comments">
  <% @roastery.roastery_comments.each do |comment| %>
    <%= render "roastery_comments/roastery_comment", roastery_comment: comment %>
  <% end %>
</div>

<%= turbo_stream_from "roastery_#{@roastery.id}_comments" %>

<%= simple_form_for [@roastery, RoasteryComment.new],
  html: { data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } } do |f| %>

  <%= f.text_area :comment, placeholder: "Write a comment..." %>
  <%= f.submit "Post" %>

<% end %>
