<h1><%=@roastery.name%></h1>
<li>
  <ul><%=@roastery.description%></ul>
  <ul><%=@roastery.image%></ul>
  <ul><%=@roastery.address%></ul>
  <ul><%=@roastery.roastery_url%></ul>
  <ul><%=@roastery.user_id%></ul>

</li>
