<h1><%=@roastery.name%></h1>
<img src="<%=@roastery.image%>">

<li>
  <ul>Description: <%=@roastery.description%></ul>
  <ul>Roastery URL: <%=@roastery.roastery_url%></ul>
  <ul>Roastery User:<%=@roastery.user_id%></ul>
  <ul>Roastery Locations:
  <%@roastery.locations.each do |location| %>
    <ul><%=location.address %></ul>
    <ul><%=location.type %></ul>
  <%end%>
  </ul>

</li>
