<h1><%=@roastery.name%></h1>
<ul>
  <ul>Description: <%=@roastery.description%></ul>
  <ul>Image: <%=@roastery.image%></ul>
  <ul>Roastery URL: <%=@roastery.roastery_url%></ul>
</ul>
<h3>Locations:</h3>
<ul>
  <% @roastery.locations.each do |location| %>
    <ul>
      <strong>Type:</strong> <%= location.location_type %><br>
      <strong>Address:</strong> <%= location.address %>
    </ul>
  <% end %>
</ul>
