<div id="bean-comment-<%= bean_comment.id %>" data-controller="vote" data-vote-id-value="
<%= bean_comment.id %>" data-vote-bean-id-value="<%= bean_comment.bean.id %>" data-vote-voted-value="
<%= user_voted?(bean_comment) %>">
  <small>
    <strong><%= bean_comment.user.user_name %></strong>
    <i><%= bean_comment.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= bean_comment.comment %></p>

    <% if bean_comment.user == current_user %>
      <%= link_to "Delete",
            [bean_comment.bean, bean_comment],
            method: :delete,
            data: { turbo_method: :delete, confirm: "Are you sure?" },
            class: "text-red-500 hover:underline text-sm ml-2" %>
    <% end %>

  <button data-action="click->vote#toggle">
    <span data-vote-target="icon"><%= user_voted?(bean_comment) ? "â¤ï¸" : "ðŸ¤" %></span>
  </button>
  <span data-vote-target="count"><%= bean_comment.votes_count %></span>
</div>

<% if user_signed_in? %>
  <div data-controller="vote" data-bean-comment-id="<%= bean_comment.id %>">
    <% if bean_comment.bean_comment_votes.exists?(user: current_user) %>
      <%= link_to "Unvote", bean_bean_comment_votes_path(@bean),
        method: :delete, remote: true, class: "btn btn-danger",
        data: { action: "click->vote#toggle", turbo_method: "delete", turbo_action: "replace" } %>
    <% else %>
      <%= link_to "Vote", bean_bean_comment_votes_path(@bean, bean_comment),
        method: :post, remote: true, class: "btn btn-primary",
        data: { action: "click->vote#toggle", turbo_method: "post", turbo_action: "replace" } %>
    <% end %>
  </div>
<% end %>
