<div id="bean-comment-<%= bean_comment.id %>" data-controller="vote">
  <small>
    <strong><%= bean_comment.user.user_name %></strong>
    <i><%= bean_comment.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= bean_comment.comment %></p>

    <% if bean_comment.user == current_user %>
      <%= link_to "Delete",
            [bean_comment.bean, bean_comment],
            method: :delete,
            data: { turbo_method: :delete, confirm: "Are you sure?" },
            class: "text-red-500 hover:underline text-sm ml-2" %>
    <% end %>

    <button data-action="click->vote#test">TEST</button>

  <% if user_signed_in? %>
    <div>
      <% if bean_comment.bean_comment_votes.exists?(user: current_user) %>
      <% bean_comment_vote = bean_comment.bean_comment_votes.find_by(user: current_user) %>
        <%= link_to "â¤ï¸", bean_bean_comment_bean_comment_votes_path(@bean, bean_comment, bean_comment_vote),
          data: { turbo_method: :delete}, class: "btn btn-danger" %>
      <% else %>
        <!--<%= link_to "ðŸ¤", bean_bean_comment_bean_comment_votes_path(@bean, bean_comment, BeanCommentVote.new),
          method: :post, remote: true, class: "btn btn-primary",
          data: { action: "click->vote#toggle" } %>-->
        <%= simple_form_for [@bean, bean_comment, BeanCommentVote.new] do |f| %>
          <%= f.submit "ðŸ¤", class: "btn btn-primary" %>
        <% end %>
      <% end %>
    </div>
  <% end %>

    <span><%= bean_comment.votes_count %></span>

</div>
