<div class="container mt-5">
  <div class="row">

    <div class="col-md-4">
      <div class="card">
        <div class="card-body text-center">
          <img src="https://via.placeholder.com/150" alt="User Avatar" class="rounded-circle mb-3">
          <h4><%= @user.user_name %></h4>
          <p><%= @user.email %></p>
          <%= link_to "Edit", edit_user_registration_path%>

        </div>
      </div>
    </div>

    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h5>Your Content</h5>
        </div>
        <div class="card-body">

          <h6>Your favorite beans</h6>
            <ul>
              <% @user.favourite_beans.each do |favourite|%>
              <li>
                <%= link_to favourite.bean.name, bean_path(favourite.bean) %>
              </li>
              <%end%>
            </ul>

          <h6>Your favorite places</h6>
            <ul>
              <% @user.favourite_roasteries.each do |favourite|%>
              <li>
                <%= link_to favourite.roastery.name, roastery_path(favourite.roastery) %>
              </li>
              <%end%>
            </ul>

          <h6 class="mt-4">Beans created by you</h6>
            <ul>
              <%@user_beans.each do |bean|%>
              <li>
                <%= link_to bean.name, bean_path(bean) %> <%= link_to "editIcon", edit_bean_path(bean)%>

              </li>
              <%end%>
            </ul>

          <h6 class="mt-4">Places created by you</h6>
          <ul>
            <%@user_places.each do |place|%>
            <li>
              <%= link_to place.name, roastery_path(place) %> <%= link_to "editIcon", edit_roastery_path(place)%>
            </li>
            <%end%>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
