<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container-fluid">

    <%= link_to root_path, class: "navbar-brand d-flex align-items-center" do %>
      <%= image_tag "logo.png", height: "60" %>
    <% end %>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav align-items-center">
        <% if user_signed_in? %>
          <li class="nav-item">
            <%= link_to "Beans", beans_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Roasteries", roasteries_path, class: "nav-link" %>
          </li>

          <li class="nav-item">
            <%= link_to profile_path, class: "nav-link p-0" do %>
              <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar-img", alt: "User avatar" %>
            <% end %>
          </li>
        <% else %>
          <li class="avatar">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
