<div class="navbar navbar-expand-sm navbar-light navbar-lewagon shadow-sm">
  <div class="container-fluid">
    <% if current_page?(root_path) %>
      <div class="navbar-brand ">
        <%= link_to root_path do %>
          <%= image_tag "logo.png", alt: "Logo", class: "homepage-logo" %>
        <% end %>
      </div>

      <div class="ms-auto">
       <%= link_to "Log out", "#", class: "dropdown-item", data: {turbo_method: :delete} %>
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar rounded-circle", alt: "dropdown menu" %>
      </div>

    <% else %>
      <%= link_to root_path, class: "navbar-brand me-auto" do %>
        <%= image_tag "logo.png", alt: "Logo", class: "homepage-logo" %>
      <% end %>

      <ul class="navbar-nav mx-auto d-flex flex-row gap-4">
        <li class="nav-item">
          <%= link_to "Beans", beans_path, class: "nav-link fw-bold" %>
        </li>
        <li class="nav-item">
          <%= link_to "Roasteries", roasteries_path, class: "nav-link fw-bold" %>
        </li>
      </ul>

      <div class="ms-auto">
          <%= image_tag "https://kitt.lewagon.com/placeholder/users/ssaunier", class: "avatar rounded-circle", alt: "dropdown menu" %>
      </div>
    <% end %>
  </div>
</div>
