
<div class="banner beans-banner">

    <h1 class="banner-title">Browse and compare coffee beans</h1>
    <p class="banner-text">Find the perfect bean for your next brew.</p>
</div>

<div class="filters-container">
  <%= form_with(url: beans_path, method: :get, local: true, class: "filter-form") do |form| %>

<!-- Container button search  -->
<div class="search-container">
  <!-- Search -->
  <div class="search-bar">
    <%= form.label :query, 'Search Beans ', class: "sr-only" %>
    <%= form.text_field :query, value: params[:query], placeholder: "Search beans ...", class: "search-input" %>
  </div>

  <!-- Search button -->
  <div class="search-btn">
    <%= form.submit 'Search', class: 'btn btn-secondary' %>
  </div>
</div>

<div class="search-divider"></div>

<!-- Filter + Add Bean Container -->

<div class="filters-container d-flex w-100 align-items-center flex-wrap">
  <div class="filters-controls d-flex align-items-center">
    <button type="button" class="filter-icon btn btn-light me-2" id="toggle-filters">
      <i class="fa fa-filter"></i>
    </button>

    <a href="<%= beans_path(query: params[:query]) %>"
       id="reset-filters"
       class="reset-filters-link"
       style="display: none;">
      Reset
    </a>
  </div>

  <div class="add-bean-btn ms-auto">
    <%= link_to "Add New Bean", new_bean_path, class: 'btn btn-tertiary' %>
  </div>

</div>

<!-- Filters -->
<div class="filter-options" id="filter-options" style="display: none;">
  <%= form.select :brewing_method, options_for_select(['Espresso', 'French Press', 'Pour Over', 'AeroPress'], params[:brewing_method]), include_blank: 'Method' %>
  <%= form.select :roast_level, options_for_select(['Light', 'Medium', 'Dark'], params[:roast_level]), include_blank: 'Roast Level' %>
  <%= form.select :origin, options_for_select(['Ethiopia', 'Colombia', 'Brazil', 'Vietnam'], params[:origin]), include_blank: 'Origin' %>
  <%= form.select :flavour, options_for_select(['Fruity', 'Nutty', 'Chocolatey', 'Floral', 'Spicy'], params[:flavour]), include_blank: 'Flavour' %>
</div>

<% end %>

<!-- cards -->

<div class="container mt-4">
<div class="row">
  <% @beans.each do |bean| %>
    <div class="col-12 col-sm-6 col-md-4 mb-4">
        <div class="card">
          <img src="<%= bean.image %>" class="card-img-top" alt="<%= bean.name %>">
          <div class="card-body">
            <h5 class="card-title"><%= bean.name %></h5>
            <p class="card-text"><%= bean.description %></p>
            <ul class="list-unstyled">
              <li><strong>Origin:</strong> <%= bean.origin %></li>
              <li><strong>Roast:</strong> <%= bean.roast_level %></li>
              <li><strong>Brewing Method:</strong> <%= bean.brewing_method %></li>
              <li><strong>Flavour:</strong> <%= bean.flavour %></li>
            </ul>
            <a href="<%= bean_path(bean) %>" class="btn btn-tertiary">See More</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
