
<div class="banner beans-banner">
    <h1 class="banner-title">Browse and compare coffee beans</h1>
    <p class="banner-text">Find the perfect bean for your next brew.</p>

</div>

<div class="search-container d-flex justify-content-center mt-3">
  <%= form_with(url: beans_path, method: :get, local: true, class: "filter-form") do |form| %>
  <div class="input-search d-flex justify-content-center">
    <%= form.label :query, 'Search Beans ', class: "sr-only" %>
    <%= form.text_field :query, value: params[:query], placeholder: "Search beans ...", class: "search-input" %>
  </div>
  <div class="btn-search d-flex justify-content-center">
    <%= form.submit 'Search', class: 'btn btn-primary' %>
  </div>
</div>

<div class="search-divider"></div>

<div class="filters-controls">
  <button type="button" class="filter-icon" id="toggle-filters">
    <i class="fa fa-filter"></i>
  </button>

  <a href="<%= beans_path(query: params[:query]) %>" id="reset-filters" class="reset-filters-link" style="display: none;">Reset</a>

  <div class="add-bean-btn">
    <%= link_to "Add New Bean", new_bean_path, class: 'btn btn-tertiary' %>
  </div>
</div>


<!-- Filters -->
<div class="filter-options" id="filter-options" style="display: none;">
  <%= form.select :brewing_method, options_for_select(['Espresso', 'French Press', 'Pour Over', 'AeroPress'], params[:brewing_method]), include_blank: 'Method' %>
  <%= form.select :roast_level, options_for_select(['Light', 'Medium', 'Dark'], params[:roast_level]), include_blank: 'Roast Level' %>
  <%= form.select :origin, options_for_select(['Ethiopia', 'Colombia', 'Brazil', 'Vietnam'], params[:origin]), include_blank: 'Origin' %>
  <%= form.select :flavour, options_for_select(['Fruity', 'Nutty', 'Chocolatey', 'Floral', 'Spicy'], params[:flavour]), include_blank: 'Flavour' %>
</div>

<% end %>

<!-- cards -->

<div class="container mt-4">
  <div class="row row-cols-1 row-cols-md-2 row-cols-lg-4">
    <% @beans.each do |bean| %>
      <div class="col mb-4 d-flex justify-content-center">
        <div class="card h-100 shadow-sm position-relative">


          <!-- favorite -->

          <% if user_signed_in? %>
            <% if bean.main_photo.attached? %>
              <%= image_tag bean.main_photo, class: "card-img-top" %>
            <% else %>
              <img src="default-image.jpg" class="card-img-top" alt="Default Image">
            <% end %>

          <div data-controller="favourite" data-bean-id="<%= bean.id %>"class="favorite-btn-container">
            <%= link_to bean_favourite_bean_path(bean),
              method: (current_user.favourite_beans.exists?(bean: bean) ? :delete : :post),
              remote: true,
              class: "btn btn-light position-relative m-2 favorite-btn",
              data: { action: "click->favourite#toggle", turbo_method: (current_user.favourite_beans.exists?(bean: bean) ? "delete" : "post"), turbo_action: "replace" } do %>
              <i class="fa-solid fa-heart <%= 'text-danger' if current_user.favourite_beans.exists?(bean: bean) %>"></i>
              <span id="favourites-count-<%= bean.id %>" class="ms-2"><%= bean.favourite_beans.count %></span>
            <% end %>
          </div>
          <% end %>


          <div class="card-body d-flex flex-column">
            <h5 class="card-title text-center"><%= bean.name %></h5>

             <div class="text-center">
                <%= link_to bean.roastery.name, roastery_path(bean.roastery), class: "text-primary" %>
            </div>

            <p class="text-muted text-center">
              Origin: <%= bean.origin %>
            </p>

            <div class="specifications text-center">
              <div class="bean-intensity">
                <% if (bean.roast_level === 'light') %>
                  <%= image_tag "bean_icon.png", alt: "Light Roast Bean", width: 20, class: "visible" %>
                  <%= image_tag "bean_icon.png", alt: "Medium Roast Bean", width: 20, class: "transparent" %>
                  <%= image_tag "bean_icon.png", alt: "Dark Roast Bean", width: 20, class: "transparent" %>
                <%  elsif (bean.roast_level === 'medium') %>
                  <%= image_tag "bean_icon.png", alt: "Light Roast Bean", width: 20, class: "visible" %>
                  <%= image_tag "bean_icon.png", alt:"Medium Roast Bean", width:20, class: "visible" %>
                  <%= image_tag "bean_icon.png", alt: "Dark Roast Bean", width: 20, class: "transparent" %>

                <% elsif (bean.roast_level === 'dark') %>
                  <%= image_tag "bean_icon.png", alt: "Light Roast Bean", width: 20, class: "visible" %>
                  <%= image_tag "bean_icon.png", alt:"Medium Roast Bean", width:20, class: "visible" %>
                  <%= image_tag "bean_icon.png", alt: "Dark Roast Bean", width: 20, class: "visible" %>
                <% end %>
              </div>
            </div>

            <p class="text-center"><i class="fa-solid fa-book"></i> <%= bean.recipes.count %> Recipes</p>

            <p class="text-center"><i class="fa-solid fa-comment"></i> <%= bean.bean_comments.count %> Comments</p>

            <div class="text-center my-3">
              <a href="<%= bean_path(bean) %>" class="btn btn-tertiary">View details</a>
            </div>
          </div>

        </div>
      </div>
    <% end %>
  </div>
</div>

<!-- Ajout de FontAwesome -->
<script src="https://kit.fontawesome.com/YOUR_KIT_CODE.js" crossorigin="anonymous"></script>
