<h1><%=@bean.name%></h1>
<li>
  <ul><%=@bean.description%></ul>
  <ul><%=@bean.image%></ul>
  <ul><%=@bean.roast_level%></ul>
  <ul><%=@bean.brewing_method%></ul>
  <ul><%=@bean.user_id%></ul>

</li>
