<div class="container container-details">
  <div class="row">

    <div class="col-lg-5 position-relative image-container favorite-image-container" data-controller="favourite" data-bean-id="<%= @bean.id %>">

      <% if @bean.main_photo.attached? %>
        <%= image_tag @bean.main_photo, class: "card-img-top responsive-image" %>
      <% end %>

      <!-- Heart Favorite Icon -->
      <% if user_signed_in? %>
        <div class="favorite-btn-container">
          <%= link_to bean_favourite_bean_path(@bean),
            method: (current_user.favourite_beans.exists?(bean: @bean) ? :delete : :post),
            remote: true,
            class: "btn btn-light position-relative m-2 favorite-btn",
            data: { action: "click->favourite#toggle", turbo_method: (current_user.favourite_beans.exists?(bean: @bean) ? "delete" : "post"), turbo_action: "replace" } do %>
            <i class="fa-solid fa-heart <%= 'text-danger' if current_user.favourite_beans.exists?(bean: @bean) %>"></i>
            <span id="favourites-count-<%= @bean.id %>" class="ms-2"><%= @bean.favourite_beans.count %></span>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-7 pt-3">
 <p class="float-end">
          <span id="average-rating-<%= @bean.id %>">
          <%= @bean.average_rating || "No ratings yet" %>
          </span>
        <i class="fas fa-star" style="color: #333D29;"></i>
      </p>
      <%= link_to @bean.roastery.name, roastery_path(@bean.roastery), class: "fst-italic" %>
      <h1><%=@bean.name%></h1>
      <p class="pt-1"><%=@bean.description%></p>
      <ul class="description-list pt-1">
        <li>
          <strong>Origin: </strong><%=@bean.origin%>
        </li>
        <li>
          <strong>Roast level: </strong><%=@bean.roast_level%>
        </li>
        <li>
          <strong>Brewing Method: </strong><%=@bean.brewing_method%>
        </li>
      </ul>
    </div>
</div>
<div class="search-divider"></div>
    <div class="recipes pt-2">
      <h3>Community Recipes</h3>
      <% if @bean.recipes.any? %>
        <div class="row justify-content-center">
            <% @bean.recipes.each do |recipe| %>
              <div class="col-lg-4 my-2 justify-content-center d-flex">
                <div class="card recipe-card">
                  <div class="card-body">
                    <% if recipe.user == current_user %>
                          <%= link_to edit_bean_recipe_path(@bean, recipe) do%>
                          <i class="float-end fas fa-edit"></i>
                          <% end %>
                    <% end %>
                    <h4><%= recipe.name %></h4>
                    <p><%= recipe.instructions %></p>
                  </div>
                </div>
              </div>
            <% end %>
        </div>
      <% else %>
          <p>No recipes yet.</p>
      <% end %>
      <%= link_to "Add Recipe", new_bean_recipe_path(@bean), class: "btn btn-tertiary mt-5" %>
    </div>
<div class="search-divider"></div>

<h3>Community Photos</h3>
  <!-- use cards to display images for dimensions -->
  <% if @bean.photos.attached? %>
    <div id="beanPhotosCarousel" class="carousel slide bean-photo-carousel mt-4" data-bs-interval="false">
      <div class="carousel-inner">
        <% @bean.photos.each_slice(4).with_index do |photo_group, index| %>
          <div class="carousel-item <%= 'active' if index.zero? %>">
            <div class="d-flex flex-wrap justify-content-center">
              <% photo_group.each do |photo| %>
                <div class="card mx-2 fixed-card">
                  <img src="<%= url_for(photo) %>" class="card-img-top bean-card-image" alt="Bean Photo">
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>

      <!-- arrows -->
      <button class="carousel-control-prev" type="button" data-bs-target="#beanPhotosCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>

      <button class="carousel-control-next" type="button" data-bs-target="#beanPhotosCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  <% else %>
    <p class="no-photos-message fst-italic">Be the first to add a photo!</p>
  <% end %>


  <p class="mt-4">Add your photos:</p>

  <%= form_with model: @bean, url: bean_bean_photos_path(@bean), method: :post, local: true, multipart: true do |form| %>
    <%= form.file_field :photos, multiple: true, accept: "image/*" %>
    <%= form.submit "Upload" %>
  <% end %>


<div class="search-divider"></div>





<% if user_signed_in? %>
  <h3>Your Rating</h3>
  <div data-controller="rating"
       data-rating-type="bean"
       data-rating-id="<%= @bean.id %>"
       data-rating-user-rating="<%= @bean.bean_reviews.find_by(user: current_user)&.rating || 0 %>">

    <div class="stars">
      <% (1..5).each do |star| %>
        <span class="star cursor-pointer"
              data-action="click->rating#submitRating"
              data-rating-value="<%= star %>">
          <i class="fas fa-star"></i>
        </span>
      <% end %>
    </div>
    <p class="rating-message hidden text-green-600"></p>
  </div>
<% else %>
  <p class="mt-4 text-sm text-gray-600">Sign in to leave a rating.</p>
<% end %>











  <div class="mt-4">
    <%= link_to "Edit Bean", edit_bean_path(@bean), class: "btn" %>
  </div>

<div class="search-divider"></div>


  <h4>All Comments</h4>

  <div id="bean_<%= @bean.id %>_comments">
    <%= render @bean.bean_comments %>
  </div>

  <%= turbo_stream_from "bean_#{@bean.id}_comments" %>

<%= simple_form_for [@bean, BeanComment.new],
  html: { data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } } do |f| %>

  <%= f.text_area :comment, placeholder: "Write a comment..." %>
  <%= f.submit "Post" %>
<% end %>
