<h1><%=@bean.name%></h1>
<img src="<%=@bean.image%>">
<li>
  <ul>Description: <%=@bean.description%></ul>
  <ul>Roast Level:<%=@bean.roast_level%></ul>
  <ul>Brewing Method: <%=@bean.brewing_method%></ul>
  <ul>User ID: <%=@bean.user_id%></ul>



  <ul><strong>Roastery:</strong>
    <%= link_to @bean.roastery.name, roastery_path(@bean.roastery), class: "text-blue-500 hover:underline" %>
  </ul>
</li>

<div class="mt-4">
  <%= link_to "Edit Bean", edit_bean_path(@bean), class: "btn" %>
</div>
