<h1><%=@bean.name%></h1>
<img src="<%=@bean.image%>">
<li>
  <ul>Description: <%=@bean.description%></ul>
  <ul>Roast Level:<%=@bean.roast_level%></ul>
  <ul>Brewing Method: <%=@bean.brewing_method%></ul>
  <ul>User ID: <%=@bean.user_id%></ul>



  <ul><strong>Roastery:</strong>
    <%= link_to @bean.roastery.name, roastery_path(@bean.roastery), class: "text-blue-500 hover:underline" %>
  </ul>
</li>

<div class="mt-4">
  <%= link_to "Edit Bean", edit_bean_path(@bean), class: "btn" %>
</div>

<h3>Comments</h3>

<div id="bean_<%= @bean.id %>_comments">
  <% @bean.bean_comments.each do |comment| %>
    <%= render "bean_comments/bean_comment", bean_comment: comment %>
  <% end %>
</div>

<%= turbo_stream_from "bean_#{@bean.id}_comments" %>

<%= simple_form_for [@bean, BeanComment.new],
  html: { data: { controller: "reset-form", action: "turbo:submit-end->reset-form#reset" } } do |f| %>

  <%= f.text_area :comment, placeholder: "Write a comment..." %>
  <%= f.submit "Post" %>

<% end %>
