<div class="mt-3" id="roastery-comment-<%= roastery_comment.id %>">
  <small>
    <strong><%= roastery_comment.user.user_name %></strong>
    <i><%= roastery_comment.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p class="my-1"><%= roastery_comment.comment %></p>
</div>

  <% if roastery_comment.user == current_user %>
    <%= link_to "Delete",
          [roastery_comment.roastery, roastery_comment],
          method: :delete,
          data: { turbo_method: :delete, confirm: "Are you sure?" },
          class: "text-red-500 hover:underline text-sm ml-2" %>
  <% end %>

  <% if user_signed_in? %>
    <div data-controller="vote" data-roastery-comment-id="<%= roastery_comment.id %>">
      <% if roastery_comment.roastery_comment_votes.exists?(user: current_user) %>
        <%= link_to "â¤ï¸", roastery_roastery_comment_roastery_comment_votes_path(@roastery, roastery_comment, roastery_comment.roastery_comment_votes.find_by(user: current_user)),
            data: { action: "click->vote#toggle", turbo_method: :delete }, class: "" %>
      <% else %>
        <%= link_to "ðŸ¤", roastery_roastery_comment_roastery_comment_votes_path(@roastery, roastery_comment, RoasteryCommentVote.new),
            data: { action: "click->vote#toggle", turbo_method: :post }, class: "" %>
      <% end %>
    <span id="votes-count-<%= roastery_comment.id %>"><%= roastery_comment.votes_count %></span>
    </div>
  <% end %>

</div>
