<!DOCTYPE html>
<html>
  <head>
    <title>MyCoffeeLab: a hub for coffee lovers! Explore beans and roasteries, share your recipes, and connect with the coffee community.</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>

    <%= javascript_importmap_tags %>
    <%= favicon_link_tag 'favicon-32x32.png', rel: 'icon', type: 'image/png', sizes: '32x32' %>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="MyCoffeeLab - A Hub for Coffee Lovers">
    <meta property="og:description" content="Explore coffee beans, roasteries, share your recipes, and connect with the coffee community.">
    <meta property="og:type" content="website">
    <meta property="og:url" content="<%= request.original_url %>">
    <meta property="og:image" content="<%= image_url('og-image.png') %>">
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= render "shared/flashes" %>

   <div class="main-content">
    <%= yield %>
  </div>
    <%= render 'shared/footer' %>

  </body>
</html>
